doctype html

html(class= "purple")
  head
    - var title = "DashKite: Our Team"
    - var description = `Our research into consent-driven applications, in various nascent forms, brought us together, ultimately resulting in the vision we have today. We started out building experimental alternative social Web platforms (Civic and Smalltown), but came to understand, through our research and work with systemically excluded founders, that a better solution—and one more in keeping with the deeper architecture of the Web—was to empower people and organizations to build their own applications. Our research led us to a generative programming model, where creators can build consent-driven applications without writing code.`
    - var url = "https://dashkite.com/team"
    include ../templates/head

  body
    header
      include ../templates/header
    
    main
      .block( class = "section neutral widest" )
        section 
          header 
            h1 Our Team
          .main 
            :markdown
              Our research into consent-driven applications, in various nascent forms, brought us together, ultimately resulting in the vision we have today. We started out building experimental social Web platforms (Civic and Smalltown), but came to understand, through our work with news organizations and systemically excluded founders, that a better solution—and one more aligned with the deeper architecture of the Web—was to empower people and organizations to build their own applications. Our research led us to a generative programming model, where creators can build consent-driven applications without writing code.
      .block(class = "collection widest")
        section
          .main
            .block(class="section narrower")
              section 
                header
                  h3 Dan Yoder
                .main
                  picture
                    img( src = "/media/images/dan-yoder.jpg" style="filter: grayscale(100%) sepia(50%) hue-rotate(270deg);" )
                  :markdown
                    Dan has more than three decades of experience in the software industry, with a strong record of commercializing innovative research. In addition to co-founding DashKite, Dan founded a multi-million-dollar development consultancy. He has also worked with major brands like AT&T and Disney. He has given numerous talks at technical conferences and his work has appeared in Business Insider and Gizmodo, among other publications.
                footer
                  section.socials
                    a( rel = "me" href = "https://mastodon.social/@danyoder" )
                      i.fab.fa-mastodon.fa-1x
            .block(class="section narrower")
              section 
                header
                  h3 David Harper
                .main
                  picture
                    img( src = "/media/images/david-harper.jpg" style="filter: grayscale(100%) sepia(50%) hue-rotate(270deg);" )
                  :markdown
                    David has eight years of software development experience, focusing on security and privacy. He is the co-author of Web Grants, our ethical source framework for least privilege authorization, and Confidential, our prescriptive framework for cryptography. He is a former Ph.D. student in computational chemistry at the California Institute of Technology. He earned his BS in Chemical Engineering from Clemson.
                footer
                  section.socials
                    a( href = "https://freeformflow.com" )
                      i.fas.fa-home-alt.fa-1x
                    a( href = "https://hachyderm.io/@freeformflow" )
                      i.fab.fa-mastodon.fa-1x
            .block(class="section narrower")
              section 
                header
                  h3 Chand Rajendra-Nicolucci
                .main
                  picture
                    img( src = "/media/images/chand-rajendra-nicolucci.jpg" style="filter: grayscale(100%) sepia(50%) hue-rotate(270deg);" )
                  :markdown
                    Chand Rajendra-Nicolucci is a public interest technologist who has held research fellowships with the Knight First Amendment Institute at Columbia University and the [Initiative for Digital Public Infrastructure](https://publicinfrastructure.org/) (iDPI) at the University of Massachusetts Amherst. He is currently the Director of Product at iDPI. His research has appeared in the Yale Journal of Law and Technology, Axios, Slate, and The Wall Street Journal.
            .block(class="section narrower")
              section 
                header
                  h3 Eliset Garcia
                .main
                  picture
                    img( src = "/media/images/eliset-garcia.jpg" style="filter: grayscale(100%) sepia(50%) hue-rotate(270deg);" )
                  :markdown
                    Eliset brings her skills and experience in entrepeneurship, business administration, and management to DashKite. She earned her BA in Psychology from California State University-San Bernardino.
    footer
      include ../templates/footer