style
  include:stylus styles.styl

:markdown

  We provide products and services to empower you to take back your Web. Create your homepage, start a blog, chat with your friends, and stay on top of all your favorite content. All our products share the same easy registration and login and the same [privacy policy][pr] and other [fine print][in].

  [pr]: /legal/privacy-policy
  [in]: /legal-information

h2 Beta

h3 Hype

a.logo(href = "/products/hype")
  img(src = "/media/images/hype-logo.png" title = "Hype Logo")

:markdown
  [Hype][hy] is an easy, custom homepage. Quickly setup a personal or professional page with the info and links you want to share with the world. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web. [More ...][hy]

  [hy]: /products/hype


h3 Kiki

a.logo(href = "/products/kiki")
  img(src = "/media/images/kiki-logo.png" title = "Kiki Logo")

:markdown

  [Kiki][ki] is ephemeral group chat made easy. Share a link and start chatting. When you're done, your chat room disappears forever. Set the title and description of the room, kick obnoxious people out, markdown and emoji support, and [more ...][ki]

  [ki]: /products/kiki

h3 Byline

a.logo(href = "/products/byline")
  img(src = "/media/images/byline-logo.png" title = "Byline Logo")

:markdown
  No-nonsense blogging is back with [Byline][by]! Quickly setup a clean, focused blogging site to get your ideas out there. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web.

  [by]: /products/byline

h2 Upcoming

h3 Reader

a.logo(href = "/products/reader")
  img(src = "/media/images/reader-logo.png" title = "Reader Logo")

:markdown
  An RSS/Atom reader for the rest of us. One of the best kept secrets of the Web, content syndication is still alive and well. Why wait for a post on social media when you can get information right from the source? From the biggest media sites to the smallest blog, we deliver it to you in a convenient, familiar format.

h3 Swag

a.logo(href = "/products/swag")
  img(src = "/media/images/swag-logo.png" title = "Swag Logo")

:markdown
  [Swag][swag] is a simple storefront that's easy to set up and loads quickly. Make it easy for your biggest fans to support you!

  [swag]: /products/swag

h3 Civic

a.logo(href = "/products/civic")
  img(src = "/media/images/civic-logo.png" title = "Civic Logo")

:markdown
  Share with confidence! [Civic][civic] is a social sharing app designed from the ground up with your safety and privacy in mind.

  [civic]: /products/civic
