style
  :stylus
    h3#hype + p > img
      display block
      float left
      margin 0
      padding 0
      width auto
      height auto
      border none
      border-radius 0
      height 2.75rem
      margin-right 1.25rem


:markdown

  We provide products and services to empower you to take back your Web. Create your homepage, start a blog, chat with your friends, and stay on top of all your favorite content. All our products share the same easy registration and login and the same [privacy policy][1] and other [fine print][2].

  ## Beta

  ### Hype

  ![Hype Logo][3]

  [Hype][4] is an easy, custom homepage. Quickly setup a personal or professional page with the info and links you want to share with the world. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web. [More ...][4]


  ## Alpha

  ### Project: Storm

  Storm is ephemeral group chat made easy. Share a link and start chatting without any hassles.

  ### Project: Mistral

  Blogging without the nonsense. Quickly setup a clean, focused blogging site to get your ideas out there. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web.

  ### Project: Jet Stream

  An RSS/Atom reader for the rest of us. One of the best kept secrets of the Web, content syndication is still alive and well. Why wait for a post on social media when you can get information right from the source? From the biggest media sites to the smallest blog, we deliver it to you in a convenient, familiar format.

  [1]: /legal/privacy-policy
  [2]: /legal-information
  [3]: /media/images/hype-logo.png
  [4]: /products/hype
