style
  include:stylus styles.styl

:markdown

  Get rick link previews for your applications. Combines data from oEmbed, Twitter, Facebook Open Graph, and generic `<meta>` tags.

  - [Features](#features)
  - [Pricing][pricing]
  - [API Reference][api-reference]
  - [The Fine Print](#about-the-link-preview-api)

  [pricing]: https://rapidapi.com/dashkite-dashkite-default/api/link-preview2/pricing
  [api-reference]: /products/link-preview/api-reference

section.examples
  include examples

section.features
  include:markdown features.md

section.about
  :markdown
    ## About The Link Preview API

    The Link Preview API is produced by [DashKite][], a Web and mobile software company devoted to making the Web safe, private, inclusive, and informative.

    The only data we collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

    All our applications share our [Privacy Policy][privacy], [Terms Of Use][terms], and [other fine print][legal].

    [DashKite]: /
    [privacy]: /legal/privacy-policy
    [terms]: /legal/terms-of-use
    [legal]: /legal
