h2 Examples

section

  h3 YouTube

  vellum-preview(
    data-preset = "card"
    data-url = "https://www.youtube.com/watch?v=ck4RGeoHFko"
  )

section

  h3 Instagram


  vellum-preview(
    data-preset = "card"
    data-url = "https://www.instagram.com/p/BpKRvmnA9rj/"
  )

section

  h3 Twitter

  vellum-preview(
    data-preset = "card"
    data-url = "https://twitter.com/dyoder/status/1357426253788180481"
  )

section(style = "grid-row: span 2")

  h3 TikTok

  vellum-preview(
    data-preset = "card"
    data-url = "https://www.tiktok.com/@anamdarbar1/video/6664142149950393606?langCountry=en"
  )

section(style = "grid-row: span 2")

  h3 Wikipedia

  vellum-preview(
    data-preset = "card"
    data-url = "https://en.wikipedia.org/wiki/Captain_Flint"
  )
section
  h3 Giphy

  vellum-preview(
    data-preset = "card"
    data-url = "https://giphy.com/gifs/emperors-new-groove-yzma-kronk-kFWjojQsWdSAU"
  )

section
  h3 Imgur
  vellum-preview(
    data-preset = "card"
    data-url = "https://imgur.com/gallery/Vl0FF5P"
  )

section
  h3 The Economist
  vellum-preview(
    data-preset = "card"
    data-url = "https://www.economist.com/business/2019/08/10/the-elderly-are-the-next-big-growth-market-for-chinese-tech-firms"
  )

section
  h3 Harvard Business Review
  vellum-preview(
    data-preset = "card"
    data-url = "https://hbr.org/2019/08/better-work-life-balance-starts-with-managers"
  )

section
  h3 AV Club
  vellum-preview(
    data-preset = "card"
    data-url = "https://tv.avclub.com/pose-dances-through-an-explosive-family-fight-1837016007"
  )

section
  h3 Film School Rejects
  vellum-preview(
    data-preset = "card"
    data-url = "https://filmschoolrejects.com/best-movies-sundance-2021/"
  )

section
  h3 xkcd
  vellum-preview(
    data-preset = "card"
    data-url = "https://xkcd.com/2385/"
  )

section
  h3 ESPN
  vellum-preview(
    data-preset = "card"
    data-url = "https://www.espn.com/nba/recap?gameId=401267534"
  )

section
  h3 The Athletic
  vellum-preview(
    data-preset = "card"
    data-url = "https://theathletic.com/2369427/2021/02/05/lakers-lebron-james-record-nuggets/"
  )

section
  h3 Reuters
  vellum-preview(
    data-preset = "card"
    data-url = "https://www.reuters.com/article/us-usa-tech-section-230/u-s-senators-propose-limiting-liability-shield-for-social-media-platforms-idUSKBN2A5233"
  )

section
  h3 Ars Technica
  vellum-preview(
    data-preset = "card"
    data-url = "https://arstechnica.com/tech-policy/2021/02/biden-doj-halts-trump-admin-lawsuit-against-calif-net-neutrality-rules/"
  )
