include mixins
include product-header
.header.page(style="--header-border-bottom: none;")
  .container
    .block( class = "image" style="--header-img-max-height: 2.5rem;") 
      section
        a(href="/products/db")
          .svg
            +logo("db")