include mixins
include product-header
.header.page.db
  .container
    .block( class = "nav highlight large")
      nav
        a(href = "/products/db")
          i( class = "fal fa-database fa-1x")
          | db