.block( class = "section left")
  section 
    header
      h2 DashKite
    footer 
      section(class = "socials")
        a(href="https://twitter.com/dashkite")
          i( class = "fab fa-twitter fa-1x")

.block( class = "nav" )
  nav
    header 
      h3 Products 
    a(href="/products/db") DB