.logo
  img( src = "/media/images/logo.png" )
  span studio

vellum-nav.inline
  script( type = "application/json" )
    :yaml
      items:
      - label: Home
        link: /home
        sprite: /media/images/sprites.svg#home

      - label: Sign Out
        link: /disconnect
        sprite: /media/images/sprites.svg#sign-out
