//- TODO update based on: https://www.matuzo.at/blog/html-boilerplate/
include mixins

block head
  //- TODO this allows our syncTreeHook to work for some reason
  script
  
  //- import map polyfill
  script(
    async
    src = "https://ga.jspm.io/npm:es-module-shims@0.13.0/dist/es-module-shims.js"
  ) 

  //- placeholder for insertion of import map
  script( type = "importmap" )

  meta( key = "charset" charset = "utf-8" )
  meta(
    key = "viewport"
    name = "viewport"
    content = "width=device-width, initial-scale=1.0"
  )
  link( key = "icon" rel = "shortcut icon" href = "/media/images/favicon.ico" )
  +title( title )

  meta(
    key = "og:site-name"
    property = "og:site_name"
    content = "DashKite Studio"
  )

  block description
    +description( description )

  block url
    +url( url )

  block image
    +image( image )

  script( src="/index.js" type="module" )
  link( rel="stylesheet" href="https://use.typekit.net/xsi8fpm.css" )
  style
    include:stylus ../index.styl
