.logo
  img( src = "/media/images/logo.png" )
  span studio

nav
  a( href = "https://twitter.com/dashkite" )
    i.fab.fa-twitter
    span Twitter
  a( href = "https://blog.dashkite.com" )
    i.fas.fa-bookmark
    span Blog
