.block( class = "nav")
  nav
    a(href="/products") Products
    a(href="https://docs.dashkite.com") Docs
    a(href="/team") Team
    a(href="/pricing") Pricing
.block( class = "button round highlight")
  section 
    a(href="https://workspaces.dashkite.com") Sign in &#8594;