//- TODO update based on: https://www.matuzo.at/blog/html-boilerplate/
include mixins

block head
  meta( key = "charset" charset = "utf-8" )
  script(src = "https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js" async=true )
  script(type="importmap")

  meta(
    key = "viewport"
    name = "viewport"
    content = "width=device-width, initial-scale=1.0"
  )
  link( key = "icon" rel = "shortcut icon" href = "/media/images/favicon.ico" )
  +title( title )

  meta(
    key = "og:site-name"
    property = "og:site_name"
    content = "DashKite"
  )

  block description
    +description( description )

  block url
    +url( url )

  block image
    +image( image )

  script(
    src = "https://kit.fontawesome.com/2a37c5fc17.js"
    crossorigin = "anonymous"
    data-auto-add-css="false"
    async=true
  )
  
  link( rel = "preload" as="style" href = "https://workspaces.dashkite.com/css/css.css" crossorigin = "anonymous" )
  link( key = "css" rel = "stylesheet" href = "https://workspaces.dashkite.com/css/css.css" crossorigin = "anonymous" )
  link( rel = "preload" as="style" href = "/index.css" )
  link(rel = "stylesheet" href = "/index.css" )
  
  script( async=true src="/index.js" type="module" )
  
  link( rel="preload" as="style" href="https://use.typekit.net/xsi8fpm.css" )
  link( rel="stylesheet" href="https://use.typekit.net/xsi8fpm.css" )

  
