doctype html

html(class= "purple borderless-header")
  head
    - var title = "DashKite: Pricing"
    - var description = "Choose the right plan for you"
    - var url = "https://dashkite.com/pricing"
    include ../templates/pricing-head

  body
    header
      include ../templates/header
    main
      main
        dashkite-pricing-table( data-product = "db", data-trial, data-title = "Pricing" )
    footer
      include ../templates/footer