style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/reader-logo.png" title = "Reader Logo")


:markdown

  An RSS/Atom reader for the rest of us. One of the best kept secrets of the Web, content syndication is still alive and well. Why wait for a post on social media when you can get information right from the source? From the biggest media sites to the smallest blog, we deliver it to you in a convenient, familiar format.

  **Coming soon!**

  ## Features

  ## About Byline

  Byline is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
