style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/reader-logo.png" title = "Reader Logo")


:markdown

  An RSS/Atom reader for the rest of us. One of the best kept secrets of the Web, content syndication is still alive and well. Why wait for a post on social media when you can get information right from the source? From the biggest media sites to the smallest blog, we deliver it to you in a convenient, familiar format.

  **Coming soon!**

  ## Features

  ### Stream Experience

  Effortlessly browse updates to your subscribed feeds,
  just as you would with any social media application.

  ### Curated Collections

  Aggregate related feeds into collections.
  You may subscribe to a collection or simply publish it
  so that others can benefit.

  ### Easy Access To Original Content

  Each item in your stream links back to the original publisher,
  allowing you to support the publishers you value with your clicks.

  ### Link Previews

  Share your collections with others with attractive link previews.

  ### Fast Loading Pages (CDN)

  Feed items are edge cached via CDN so that they render in the browser in the blink of an eye. Get the news you want without waiting.

  ## About Reader

  Reader is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Reader collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
