.team
  display grid
  // height 100vh
  grid-gap 3rem
  grid-template-columns repeat(auto-fit, minmax(18rem, 1fr));

h2
  clear both
  line-height 1.5rem !important
  font-size 1.25rem !important

  > a
    margin-left 0.5rem

h3
  line-height 1.25rem !important
  font-size 1.1rem !important
  font-style italic  !important
  font-weight normal  !important
  margin-bottom 0.5rem !important

svg
  display inline-block
  vertical-align middle
  box-sizing border-box
  height 1.75rem
  width 1.75rem
  padding 0.25rem

p, li
  line-height 1.5rem !important
  font-size 1rem !important

li
  position relative
  left 1em
  padding-right 1em

// get rid of the padding because we have no border
figure
  border none !important
  padding 0 !important

img
  border-radius 0.5rem
