mixin title(title)
  title= title
  meta(property = "og:title" content = title)
  meta(name = "twitter:title" content = title)

mixin description(description)
  meta(name = "description" content = description)
  meta(property = "og:description" content = description)
  meta(name = "twitter:description" content = description)

mixin url(url)
  link(rel = "canonical" href = url)
  meta(property = "og:url" content = url)

mixin image(image)
  meta(property = "og:image" content = image)
  meta(name = "twitter:card" content = "summary_large_image")
  meta(name = "twitter:image" content = image)


doctype html

html(lang='en')

  head
    block head
      meta(charset = "utf-8")
      meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
      link(rel = "shortcut icon" href = "/favicon.ico")

      meta(property = "og:site_name" content = "DashKite")

      block title
        +title("DashKite")

      block description
        +description("DashKite combines an expertise in distributed design with\
          the most advanced Web technologies to build great products.")

      block url
        +url("https://dashkite.com")

      block image
        +image("/media/logo.png")

//      block style
//        style
//          include:stylus -index.styl

  body

    header
      block header
        img.logo(src = "/media/logo.png")

    main
      block main

    footer
      block footer
        nav
          a(href = "/")
            svg: use(href = "/media/sprites.svg#home")
            span Home

          a(href = "/products")
            svg: use(href = "/media/sprites.svg#products")
            span Products

          a(href = "/open-source")
            svg: use(href = "/media/sprites.svg#open-source")
            span Open Source

          a(href = "/contact")
            svg: use(href = "/media/sprites.svg#contact-us")
            span Contact
