header
  h1 Open Source

article
  include:markdown content/open-source.md

article
  include:markdown content/cryptography.md

article
  include:markdown content/serverless.md

article
  include:markdown content/browser.md

article
  include:markdown content/http.md

article
  include:markdown content/fp.md
