style
  :stylus
    header > h1
      line-height 4rem !important
      font-size 3.75rem !important
      color var(--accent) !important
      margin-top 1rem !important

article
  :markdown

    ## You're more than data for an algorithm.

    You're more than ad inventory.

    You deserve to feel safe and welcome.
    You deserve to have your privacy respected.
    You deserve to feel free to **be yourself.**

    At DashKite, we build applications that put you first.

article
  :markdown

    ## Updates

    - November 17th: [Byline][by] Beta released
    - October 17th: [Kiki][ki] Beta released
    - September 20th: [Hype][hy] Beta update
    - August 28th: [Hype][hy] Beta released
    - August 8th: Our [privacy policy][pr] and [other fine print][le]
    are now available

    [by]: /products/byline
    [ki]: /products/kiki
    [hy]: /products/hype
    [pr]: /legal/privacy-policy
    [le]: /legal
