style
  :stylus
    header > h1
      line-height 4rem !important
      font-size 3.75rem !important
      color var(--accent) !important
      margin-top 1rem !important

article
  :markdown

    ## You're not ad inventory.

    You're not data for an algorithm.

    You deserve to feel safe and welcome.
    You deserve to have your privacy respected.
    You deserve to feel free to **be yourself.**

    At DashKite, we build applications that put you first.

article
  :markdown
    ## Please Subscribe

    [Subscribing][subscribe] to our newsletter is the best and easiest
    way to [support][support] our work.
    We'll make sure you're up to date with our latest products and features, and send you beta invites when we launch new [products][products].
    And you'll be helping us cultivate a sense of community around
    [our mission][mission]. Thank you!

    [subscribe]: https://subscribe.dashkite.com/lets-stay-in-touch
    [support]: /support
    [products]: /products
    [mission]: /mission

article
  :markdown

    ## Updates

    - December 17th: [Civic][ci] announced.
    - November 17th: [Byline][by] Beta released
    - October 17th: [Kiki][ki] Beta released
    - September 20th: [Hype][hy] Beta update
    - August 28th: [Hype][hy] Beta released
    - August 8th: Our [privacy policy][pr] and [other fine print][le]
    are now available

    [ci]: /products/civic
    [by]: /products/byline
    [ki]: /products/kiki
    [hy]: /products/hype
    [pr]: /legal/privacy-policy
    [le]: /legal
