extends ../../templates/default

block title
  +title( "Terms of Use" )

block description
  +description( "DashKite Terms of Use" )

block url
  +url( "https://dashkite.com/legal/terms-of-use" )

block image
  +image( "/media/logo.png" )

block main
  main
    include:markdown content.md

