style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/civic-logo.png" title = "Civic Logo")


:markdown

  Share with confidence! Civic is a social sharing app designed from the ground up with your safety and privacy in mind.

  ## Features

  ## About Civic

  Civic is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
