style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/civic-logo.png" title = "Civic Logo")


:markdown

  Share with confidence! Civic is a social sharing app designed from the ground up with your safety and privacy in mind.

  **Coming Autumn 2021!**

  ## Features

  ### Create, Share, And Reply

  Share your thoughts, images, or videos with your friends, community members,
  or the world. Engage in discussions or amplify the voices of others.

  ### Communities

  Create or join communities based on your interests or network.
  Posts by community members will automatically be added to your stream,
  even if you haven't published (followed) them directly.

  ### Community Moderated

  You're in control!
  Moderation decisions are made by community moderators,
  not some central authority.
  Moderators may delegate moderation authority
  to other members to share the workload.
  Members that are banished by a community are banished for all members
  of that community.

  ### Private Communities

  Some things are not meant for everyone to see.
  Private communities are invite-only and posts are encrypted
  so that only members can view them.

  ### Markdown Support

  Easily include text formatting, headings, links, and links to external images on your site using the easy to learn Markdown text format.

  ### No Length Limit

  Your posts can be any length you desire.
  You also control the summary that's display within a stream.

  ### Updates And Versions

  If you make a mistake or want to provide an update,
  no problem. Just edit your original post!
  Previous version are always available so people can see
  the original context.

  ### Drafts And Scheduling

  Create or update posts as drafts for later publication.
  Set the date and time you want drafts to be published.

  ### Link Previews

  When you share posts outside of Civic,
  you'll see attractive previews of your content.

  ### Fast Loading (CDN)

  Streams and posts load quickly, thanks to our extensive use of CDNs.
  You'll never have to worry about losing traffic due to slow-loading posts.

  ## About Civic

  Civic is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
