@require "./colors"

border-top()
  border-top 1px solid silver

border-bottom()
  border-bottom 1px solid silver

border-left()
  border-left 1px solid silver

border-right()
  border-right 1px solid silver

border-round()
  border 1px solid lighter-kite-gray
  border-radius 0.5rem

border-rounder()
  border 1px solid lighter-kite-gray
  border-radius 1rem

border-circular()
  border-radius 50%

border-all()
  border 1px solid silver

border-button()
  border 1px solid darkest-kite-blue
  &:disabled
    border 1px solid silver

border()
  for preset in arguments
    border-{preset}()
