extends ../../templates/default

block title
  +title( "Privacy Policy" )

block description
  +description( "DashKite Privacy Policy" )

block url
  +url( "https://dashkite.com/legal/privacy-policy" )

block image
  +image( "/media/logo.png" )

block main
  .block.section.widest.neutral
    section
      .main
        include:markdown content.md
