doctype xml
rss( version = "2.0" )
  channel
    title DashKite Blog
    description The DashKite blog.
    link https://dashkite.com/blog
    copyright 2020-2021 DashKite, Inc., all rights reserved
    lastBuildDate= new Date().toISOString()
    pubDate= new Date().toISOString()
    ttl 3600
    item
      title Week In Review
      description.
        This week: The results of our Link Preview API launch Facebook bans a country The limits of regulatory remedies The Ulysses Pact pattern Recognizing Kimberly Bryant
      link https://byline.dashkite.com/post/dashkite/-7h5X90ovPH1EvMMOByQEQ/week-in-review-feb-19-2021
      pubDate Feb 18, 2021 11:33 pm
