extends ../templates/default

block title
  +title( "Legal Information" )

block description
  +description( "Links to legal agreements (terms of use, privacy policy, and so on...)" )

block url
  +url( "https://dashkite.com/legal" )

block image
  +image( "/media/logo.png" )

block main
  main
    :markdown
      # The Fine Print

      - [Privacy Policy](/legal/privacy-policy)
      - [Content Policy](/legal/content-policy)
      - [Terms Of Use](/legal/terms-of-use)
      - [API Terms Of Use](/legal/api-terms-of-use)
