extends /templates/head

append head
  style
    :stylus
      main .view > header > h1
        line-height 10rem
        font-size 9rem
        color var(--kite-alt-blue)
        margin-top 2rem !important
        margin-bottom 5rem !important
