extends /templates/head

append head
  style
    :stylus
      header > h1
        line-height 10rem !important
        font-size 9rem !important
        color var(--primary-accent) !important
        margin-top 2rem !important
        margin-bottom 5rem !important
