header
  h1 It's Your Web.

article
  :markdown

    ## We're here to help you take it back.

    At DashKite, we combine our expertise in software development
    with state-of-the-art Web technologies to build great applications that
    put people first.

article
  :markdown

    ## Updates

    - August 28th: [Hype Beta released][0]
    - August 8th: Our [privacy policy][1] and [other fine print][2]
    are now available

    [0]: /products/hype
    [1]: /legal/privacy-policy
    [2]: /legal
