header
  h1 It's Your Web.

article
  :markdown

    ## We're here to help you take it back.

    At DashKite, we combine our expertise in software and distributed design
    with the most advanced Web technologies to build great things.

    We build stuff that's human-focused, blazing fast, and ready to scale.

article
  :markdown

    ## Updates

    - Coming soon: Hype vanity page builder.
    - Read [the fine print](/legal-information).
