doctype html

html(lang='en')

  title DashKite

  // Meta
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  // Shortcut Icon
  link(rel='shortcut icon', href='/favicon.ico')

  style
    include:stylus -index.styl

  body
    header
      a(href="/")
        img.logo(src="/logo.png", title="DashKite Logo")
    main
      include:markdown index.md
      
    footer
      :markdown
        
        &copy; DashKite, Inc., all rights reserved worldwide.
        
        Proprietary and confidental. Please do not distribute.
      
