doctype html

html(lang='en')

  title DashKite

  // Meta
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  // Shortcut Icon
  // link(rel='shortcut icon', href='/assets/images/favicon.ico')

  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet", href="/index.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/index.js")


  body

    main

      .logo
        p DashKite

        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
          path(d='M38.793,13.325l-2.136,34.606L66.463,30.22L38.793,13.325z M39.131,44.983c-0.271,0.419-0.5,0.787-0.716,1.151l-1.458-0.863  c0.229-0.386,0.47-0.774,0.726-1.167l1.807-3.218l1.478,0.83L39.131,44.983z M43.451,37.284l-1.476-0.834  c0.868-1.536,1.713-3.006,2.536-4.417l1.464,0.854C45.156,34.292,44.315,35.755,43.451,37.284z M47.109,27.65  c0.914-1.514,1.801-2.957,2.666-4.342l1.438,0.898c-0.861,1.377-1.744,2.814-2.652,4.32L47.109,27.65z')
          path(d='M40.017,12.086l26.989,16.479L62.018,7.938c-0.812,1.175-1.626,2.352-2.45,3.557l-1.398-0.956  c0.79-1.155,1.568-2.282,2.347-3.409L40.017,12.086z M53.935,19.93l-1.422-0.921c0.954-1.474,1.886-2.887,2.801-4.255l1.408,0.941  C55.812,17.057,54.885,18.462,53.935,19.93z')
          path(d='M65.308,95.514l-1.299-1.09c1.162-1.385,2.099-2.739,2.784-4.028l1.496,0.797C67.548,92.584,66.545,94.038,65.308,95.514z   M69.916,86.058l-1.688-0.148c0.021-0.242,0.03-0.48,0.03-0.715c-0.001-1.304-0.304-2.524-0.927-3.731l1.506-0.777  c0.739,1.434,1.115,2.95,1.116,4.508C69.954,85.478,69.942,85.765,69.916,86.058z M64.337,77.787  c-1.084-0.962-2.391-1.908-3.994-2.894l0.887-1.443c1.689,1.037,3.073,2.041,4.232,3.069L64.337,77.787z M55.953,72.447  l-1.449-0.745c-0.536-0.274-1.058-0.542-1.561-0.805l-1.512-0.787l0.783-1.504l1.513,0.789c0.498,0.26,1.017,0.525,1.549,0.799  l1.456,0.749L55.953,72.447z M46.925,67.723c-1.777-0.968-3.189-1.785-4.446-2.572l0.9-1.436c1.226,0.769,2.61,1.569,4.356,2.52  L46.925,67.723z M38.255,62.105c-1.58-1.361-2.708-2.706-3.449-4.11l1.499-0.791c0.64,1.214,1.64,2.397,3.057,3.618L38.255,62.105z   M35.532,52.805l-1.678-0.238c0.224-1.58,0.864-3.273,1.904-5.033l1.459,0.862C36.292,49.962,35.725,51.445,35.532,52.805z')

      .tagline
        p
          | Because they're #[strong your ]
          span.selected friends
          span family
          span fans
          span heroes
          span people
          |.
