doctype html

html(lang='en')

  title DashKite

  // Meta
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  // Shortcut Icon
  link(rel='shortcut icon', href='/assets/images/favicon.ico')

  head
    link(rel="stylesheet", href="/index.css")

  body
    
    img.logo(src="/logo.png")
      
