//- because of the odd number of items, we set the max width
//- to avoid an orphan
style
  :stylus
    vellum-nav
      max-width 35rem

vellum-nav.large
  script( type = "application/json" )
    :yaml
      items:
      - label: Products
        link: /products
        sprite: /media/images/sprites.svg#products

      - label: Blog
        link: /blog
        sprite: /media/images/sprites.svg#blog

      - label: Mission
        link: /mission
        sprite: /media/images/sprites.svg#compass

      - label: Sustainability
        link: /mission/sustainability
        sprite: /media/images/sprites.svg#sustainable

      - label: Team
        link: /team
        sprite: /media/images/sprites.svg#team

      - label: Code
        link: /code
        sprite: /media/images/sprites.svg#open-source

      - label: Contact
        link: /contact
        sprite: /media/images/sprites.svg#contact-us
