doctype xml

feed( xmlns="http://www.w3.org/2005/Atom" )
  title!= title
  icon= icon
  link(type = "text/html" rel = "alternate" href= link)
  link(rel = "self" href= link)
  updated= date
  author: name= author
  id= link

  each item in items
    != item
