style
  include:stylus styles.styl

a.preview(href = "https://byline.dashkite.com/post/dashkite/esvAUkeCHKzhSYFzaRNTdA/why-pay-social-media")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-01-26"
    data-url = "https://byline.dashkite.com/post/dashkite/esvAUkeCHKzhSYFzaRNTdA/why-pay-social-media"
  )

a.preview(href = "https://byline.dashkite.com/post/david/wSwYxGcakzeVmgeOVTRMVw/twitter-birdwatch-civics-moderation-ethics")
  vellum-preview(
    data-preset = "card"
    data-author = "David Harper"
    data-published = "2020-01-25"
    data-url = "https://byline.dashkite.com/post/david/wSwYxGcakzeVmgeOVTRMVw/twitter-birdwatch-civics-moderation-ethics"
  )

a.preview(href = "https://byline.dashkite.com/post/dashkite/J82MRa3Dpoo6PESDUB8MOQ/byline-blog-posts-load-faster-wordpress-or-medium")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-01-19"
    data-url = "https://byline.dashkite.com/post/dashkite/J82MRa3Dpoo6PESDUB8MOQ/byline-blog-posts-load-faster-wordpress-or-medium"
  )

a.preview(href = "https://byline.dashkite.com/post/dashkite/dQRX2MhFWfJZbeldAFKoig/icymi-disinformation")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-01-16"
    data-url = "https://byline.dashkite.com/post/dashkite/dQRX2MhFWfJZbeldAFKoig/icymi-disinformation"
  )

a.preview(href = "https://byline.dashkite.com/post/dashkite/w_ljVZkIbMtrtkekpwUnBg/facebook-and-twitter-promote-propaganda-and-disinformation")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-01-08"
    data-url = "https://byline.dashkite.com/post/dashkite/w_ljVZkIbMtrtkekpwUnBg/facebook-and-twitter-promote-propaganda-and-disinformation"
  )

a.preview(href = "https://byline.dashkite.com/post/dashkite/3V03me6CTgKeqtLwx9ZEOg/announcing-civic-next-generation-social-media")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-12-17"
    data-url = "https://byline.dashkite.com/post/dashkite/3V03me6CTgKeqtLwx9ZEOg/announcing-civic-next-generation-social-media"
  )

a.preview(href = "https://byline.dashkite.com/post/dan/qp9S-fxcixOxXhhddqD0ig/we-can-t-reclaim-what-we-never-had")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-12-08"
    data-url = "https://byline.dashkite.com/post/dan/qp9S-fxcixOxXhhddqD0ig/we-can-t-reclaim-what-we-never-had"
  )

a.preview(href = "https://byline.dashkite.com/post/david/fTh8xpAr-FIb8otv4yeh7A/byline-blogs-dashkite-web-michelle-obama")
  vellum-preview(
    data-preset = "card"
    data-author = "David Harper"
    data-published = "2020-11-18"
    data-url = "https://byline.dashkite.com/post/david/fTh8xpAr-FIb8otv4yeh7A/byline-blogs-dashkite-web-michelle-obama"
  )
