style
  include:stylus styles.styl

a.preview(href = "https://byline.dashkite.com/post/dan/qp9S-fxcixOxXhhddqD0ig/we-can-t-reclaim-what-we-never-had")
  vellum-preview(
    data-preset = "card"
    data-author = "Dan Yoder"
    data-published = "2020-12-08"
    data-url = "https://byline.dashkite.com/post/dan/qp9S-fxcixOxXhhddqD0ig/we-can-t-reclaim-what-we-never-had"
  )

a.preview(href = "https://byline.dashkite.com/post/david/fTh8xpAr-FIb8otv4yeh7A/byline-blogs-dashkite-web-michelle-obama")
  vellum-preview(
    data-preset = "card"
    data-author = "David Harper"
    data-published = "2020-11-18"
    data-url = "https://byline.dashkite.com/post/david/fTh8xpAr-FIb8otv4yeh7A/byline-blogs-dashkite-web-michelle-obama"
  )
