doctype html

html(class= "purple")
  head
    - var title = "DashKite: DB"
    - var description = "A database that's simple, fast, and scalable."
    include ../../templates/head

  body
    header
      include ../../templates/db-header
    
    main
      main
        .block( class = "banner-split neutral" )
          section
            header 
              h1 A database that's simple, fast, and scalable
            .main
              p Need something more powerful than a spreadsheet but without the headaches of a traditional database?
            footer
              .block( class = "button round highlight")
                section
                  a(href="https://workspaces.dashkite.com") Get started &#8594;
          .svg
            include ../../media/images/croods.svg
        .block(class = "collection vertical center widest")
          section
            .main
              .block(class = "section center large")
                section 
                  i( class = "fal fa-snooze fa-1x")
                  header
                    h2 Zero headaches
                  .main 
                    p DB is serverless, so there is nothing to install or configure. You don’t need to manage servers, capacity, or replication.
              .block( class = "section center large")
                section 
                  i( class = "fal fa-magic fa-1x")
                  header
                    h2 No code required
                  .main
                    p DB supports a simple HTTP interface, so you don’t need to write any code to use it. Just share a link to get started.
              .block( class = "section center large")
                section 
                  i( class = "fal fa-leaf fa-1x")
                  header
                    h2 Flexible and intuitive
                  .main 
                    p DB is a key-value database, so you don't need to worry about rigid database schemas or complex SQL commands. Just get, put, and delete your data.
    footer
      include ../../templates/footer