style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/byline-logo.png" title = "Byline Logo")


:markdown

  No-nonsense blogging is back with [Byline][byline]! Quickly setup a clean, focused blogging site to get your ideas out there. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web.

  [Try it out!][byline]

  ## Features

  ### Markdown Support

  Easily include text formatting, headings, links, and links to external images on your site using the easy to learn Markdown text format.

  ### Image Support

  Provide a URL for any image to be featured in previews for your post.

  ### Drafts And Updates

  Posts and revisions aren't published until you decide to publish them.

  ### Link Previews

  You control how your site appears in link previews, when you, or your fans, share it on the Web.

  ### Search Engine Friendly

  Your page will include rich metadata, including a customizable title and description that will be displayed in search results. Pages are designed for search engines to be able to easily index them.

  ### Analytics Friendly

  Add your Google Analytics code to your page.

  ### Fast Loading Pages (CDN)

  Your page will be edge cached via CDN so that it will render in the browser in the blink of an eye. Remember, slow loading pages mean you’re losing traffic. You’ll never have to worry about that with Byline.

  ## About Byline

  Byline is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Byline collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [byline]: https://byline.dashkite.com
  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
