style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/byline-logo.png" title = "Kiki Logo")


:markdown

  No-nonsense blogging is back with [Byline][by]! Quickly setup a clean, focused blogging site to get your ideas out there. Pages look great on desktop and mobile, and generate appealing link previews when shared out on the Web.

  [Try it out!][by]

  ## Features

  ## About Byline

  Byline is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [by]: https://kiki.dashkite.com
  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
