doctype
html(lang = "en")
  head
    //- TODO fix/upgrade parchment
    //-      might just be an old version?
    script.
      window.Buffer = undefined
    include /templates/head
  body
    header
    main
    footer
