style
  :stylus

    // TODO replace media queries with a quark preset
    //      that is more dynamic, possibly using grids
    //      for article layout

    @media screen and (max-width: 767px)
      fig
        display none

    @media screen and (min-width: 768px)
      fig
        // quark/tachyon green
        --accent #137752
        max-width min(33vw, 15rem)
        border 1px solid var(--accent)
        border-radius 0.5rem
        margin-top 0
        margin-left 1.5rem
        margin-bottom 0.75rem
        margin-right 0.25rem
        padding 0.5rem
        float: right
        fill var(--accent)
        svg
          width 100%
          padding-bottom 1rem
          border-bottom 1px solid var(--accent)
          margin-bottom 1rem
          fill #137752
        figcaption
          padding 0 0.5rem
          h2
            display inline !important
            border none !important
            margin 0 !important
            line-height 1.5rem !important
            font-size 1rem !important
          p
            font-style italic !important
            line-height 1.5rem !important
            font-size 1rem !important
          h2 + p
            display inline !important
            margin-left 0.25rem !important

fig
  svg: use( href = '/media/images/sprites.svg#celtic-knot' )
  figcaption
    h2 A Celtic Knot
    p.
      A sustainable Web is safe, healthy, inclusive, and humane, with each of
      these interlocking objectives reinforcing the others, like this Celtic
      knot.

include:markdown article.md
