block footer
  vellum-nav
    script( type = "application/json")
      :yaml
        items:
        - label: Products
          link: /products
          sprite: /media/images/sprites.svg#products

        - label: Blog
          link: /blog
          sprite: /media/images/sprites.svg#blog

        - label: Contact
          link: /contact
          sprite: /media/images/sprites.svg#contact-us

        - label: More
          link: /more
          sprite: /media/images/sprites.svg#more
