block footer
  nav
    a(href = "/products")
      svg: use(href = "/media/images/sprites.svg#products")
      span Products

    a(href = "/open-source")
      svg: use(href = "/media/images/sprites.svg#open-source")
      span Open Source

    a(href = "/contact")
      svg: use(href = "/media/images/sprites.svg#contact-us")
      span Contact

    a(href = "/more")
      svg: use(href = "/media/images/sprites.svg#more")
      span More
