include mixins

block head
  meta( charset = "utf-8" )
  meta( name = "viewport" content = "width=device-width, initial-scale=1.0" )

  link( rel = "shortcut icon" href = "/media/images/favicon.ico" )

  //- TODO fix/upgrade parchment
  //-      might just be an old version?
  script.
    window.Buffer = undefined

  script( src = "/application.js" )

  script(
    async = ""
    src= "https://www.googletagmanager.com/gtag/js?id=G-Y26S28D4QK"
  )
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "G-Y26S28D4QK");

  //- script(
  //-   src = "https://cdn.usefathom.com/script.js"
  //-   data-site = "ZPOHROZI"
  //-   defer
  //- )
  script(
    src = "https://ax.dashkite.com/latest.js"
    async
    defer
  )
  noscript: img( src = "https://analytics.dashkite.com/noscript.gif" alt = "")

  meta(property = "og:site_name" content = "DashKite")

  +title(`DashKite: ${title || "Be Yourself."}`)

  block description
    +description( description )

  block url
    +url( url || "https://dashkite.com" )

  block image
    +image( image || "/media/images/logo.png" )

  script(
    async
    data-ad-client = "ca-pub-8706901733590159"
    src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  )
