:root
  --brand #61D3FF
  --dark-brand #00384d
  --light-brand #008dc3

  --primary-shade #F5F6F4
  --primary-accent #007faf
  --dark-primary-accent #002a3a

  --secondary-accent #B73B59
  --secondary-shade #610015

  --info #234467
  --success #53ba83
  --warning #d0aa4b
  --danger #f44336

  --dark-text #0a080c
  --light-text rgba(255, 255, 255, 0.8)

html
  font-size (6 + 2/3)px
  /* System */
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

a, a:visited, a:hover
  text-decoration none
  color inherit

:focus
  outline none
  box-shadow 0 0 0 1px #333
body
  margin 0
  display grid
  grid-template-rows auto 1fr auto
  height 100vh
  color var(--dark-text)
  background-color var(--primary-shade)

  & > header
    background-color white
    padding 3rem
    border-bottom 1px solid var(--dark-primary-accent)
    margin-bottom 3rem
    .logo
      width min-content
      & > a
        display block
        & > img
          height 6rem

main
  padding 3rem

  display flex
  flex-flow column
  align-items center

  overflow-y scroll

  article, header
    width 100%
    max-width 96rem

  article, header
    margin-bottom 3rem

  article, h2
    &:not(:first-child)
      margin-top 6rem

  article p > img
    box-sizing border-box
    width calc(50% \- 3rem)
    float left
    margin-bottom 3rem
    margin-right 3rem
    padding 2rem
    border 1px solid var(--light-accent)
    border-radius 0.5rem

  h1, h2, h3, h4, p, ul, blockquote
    box-sizing border-box
    margin 0
    padding 0
    margin-bottom 3rem

    &:last-child
      margin-bottom 0

  h1 + h2, h2 + h3, h3 + h4
    margin-top 4rem

  li
    box-sizing border-box
    margin 0
    padding 0
    margin-bottom 2rem

    &:last-child
      margin-bottom 0

  h1
    line-height 7rem
    font-size 6.3rem
  h2
    line-height 5rem
    font-size 4.5rem
    padding-bottom 1rem
    border-bottom 1px solid var(--dark-primary-accent)
  h3
    line-height 4rem
    font-size 3.6rem

  h4
    line-height 4rem
    font-size (4 * 3/4)rem

  p, ul, li, blockquote
    line-height 4rem
    font-size (4 * 2/3)rem

  a, a:visited, a:hover
    display inline
    text-decoration underline

  ul > li
      margin-left 1em

footer
  background-color var(--dark-primary-accent)
  color var(--light-text)
  line-height 3rem
  font-size 2.4rem

  nav
    display flex
    justify-content center

    & > a
      // width needs to be evenly divisible into 48rem
      // otherwise we'll have little wasted margins
      // so either 8 or 12 rem ... 12 for now until
      // we add two more buttons
      width 12rem
      padding 3rem 1rem 1rem 1rem
      display flex
      flex-flow column
      align-items center
      justify-content flex-start
      text-decoration none

      & > svg
        margin-bottom 1rem
        display inline-block
        fill @color
        // overflow visible
        height 4rem
        width 4rem

      & > span
        text-align center
