:root
  --brand-blue #61D3FF

  --foreground #0a080c
  --background #F5F6F4
  --accent #007faf

  --info #234467
  --success #53ba83
  --warning #d0aa4b
  --danger #f44336

  --dark-background #002a3a
  --dark-text rgba(255, 255, 255, 0.8)

  --body-font "Inter var", system-ui, -apple-system, Segoe, UI,Roboto, \
      Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, \
      Helvetica, Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji", \
      "Segoe UI Symbol", "Noto Color Emoji"

html
  font-family var(--body-font)

a, a:visited, a:hover
  text-decoration none
  color inherit

body
  margin 0
  display grid
  grid-template-rows auto 1fr auto
  height 100vh
  color var(--text)
  background-color var(--background)

  & > header
    background-color white
    padding 0.75rem
    border-bottom 1px solid var(--foreground)
    margin-bottom 1.25rem
    .logo
      width min-content
      & > a
        display block
        padding 0.5rem
        border-radius 0.25rem

        &:focus
          outline none
          box-shadow 0 0 0 1px var(--accent)

        & > img
          height 2.5rem

main
  padding 1rem
  overflow-y scroll

  .loading
    display grid
    place-items center

footer
  vellum-nav
    --background var(--dark-background)
    --text var(--dark-text)
    --accent var(--dark-text)
