:root
  --brand #61D3FF
  --dark-brand #00384d
  --light-brand #008dc3

  --primary-shade #F5F6F4
  --primary-accent #007faf
  --dark-primary-accent #002a3a

  --secondary-accent #B73B59
  --secondary-shade #610015

  --info #234467
  --success #53ba83
  --warning #d0aa4b
  --danger #f44336

  --dark-text #0a080c
  --light-text rgba(255, 255, 255, 0.8)

html
  // font-size 8px
  /* System */
  font-family system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

a, a:visited, a:hover
  text-decoration none
  color inherit

:focus
  outline none
  box-shadow 0 0 0 1px #333
body
  margin 0
  display grid
  grid-template-rows auto 1fr auto
  height 100vh
  color var(--dark-text)
  background-color var(--primary-shade)

  & > header
    background-color white
    padding 1.25rem
    border-bottom 1px solid var(--dark-primary-accent)
    margin-bottom 1.25rem
    .logo
      width min-content
      & > a
        display block
        & > img
          height 2.5rem

main
  padding 1.25rem

  display flex
  flex-flow column
  align-items center

  overflow-y scroll


footer
  background-color var(--dark-primary-accent)
  color var(--light-text)
  line-height 1.25rem
  font-size 1rem

  nav
    display flex
    justify-content center

    & > a
      // width needs to be evenly divisible into 20rem
      // otherwise we'll have little wasted margins
      // so either 4 or 5 rem, for 5 or 4 buttons
      width 4rem
      padding 1.25rem 1rem 1rem 1rem
      display flex
      flex-flow column
      align-items center
      justify-content flex-start
      text-decoration none

      & > svg
        margin-bottom 0.5rem
        display inline-block
        fill @color
        // overflow visible
        height 1.75rem
        width 1.75rem

      & > span
        text-align center
