style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/kiki-logo.png" title = "Kiki Logo")


:markdown

  Kiki is ephemeral group chat made easy. Share a link and start chatting. When you're done, your chat room disappears forever.

  [Try it out!][ki]

  ## Features

  ### Moderation

  Is one of the participants in your room out of control? Kick 'em out with the `/kick` command!

  ### Customization

  You can set the title and description of the room with the `/title` and `/description` commands.

  ### Link Previews

  Paste a link into your chat room and see it expand into a full preview.

  ### Markdown Support

  Easily include text formatting, headings, links, and links to external images on your site using the easy to learn Markdown text format.

  ### Emoji Support

  Use emoji when you chat or use emoticon shortcuts like `:)` which will automatically expand for you.

  ### Load Quickly

  The Kiki app and the room data are edge cached so the app will load as quickly as the Internet can load it.

  ## About Kiki

  Kiki is produced by [DashKite][6], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][7], [Terms Of Use][8], and [other fine print][9].

  [ki]: https://kiki.dashkite.com
  [kl]: /media/images/kiki-logo.png
  [6]: /
  [7]: /legal/privacy-policy
  [8]: /legal/terms-of-use
  [9]: /legal
