style
  include:stylus styles.styl

p.
  Thank you for supporting DashKite products!
  Here are a few ways you can help us continue to build great products.

aside
  h3 Looking For Customer Support?

  :markdown
    If you need customer support for any of our products, just [contact us][] and let us know!

    [contact us]: /contact

section
  header
    h2 Buy Us A Coffee

  p Every little bit helps! And we drink quite a bit of coffee, so it adds up.

  p
    a.bmac(href = "https://www.buymeacoffee.com/dashkite")
      img(src = "/media/images/bmac.png" alt = "Buy Me A Coffee")


section
  header
    h2 Subscribe To Our Newsletter

  :markdown

    One of the best ways to support us is just to [subscribe to our newsletter][subscribe].
    This helps us foster a community to support [our mission][mission].

    We will never share your email with anyone else and we make it easy to unsubscribe if you change your mind.

    Please also [give us a follow][twitter] on Twitter!

    [Sign me up!][subscribe]

    [subscribe]: https://newsletter.dashkite.com
    [mission]: /mission
    [twitter]: https://twitter.com/dashkite_

section
  header
    h2 Try Out Our Other Products

  :markdown

    If you've used one of our products and liked it,
    we hope you'll [try another][products].
    And if you haven't,
    we hope you'll [give one a try][products].

    [products]: /products

section
  header
    h2 Tell Your Friends

    :markdown
      Help us spread the word! Tell a friend about us.

      - [Via Twitter][tweet]
      - [Via Facebook][facebook]

      Or whatever works for you:
      email, SMS, telepathy, or even a hand-mailed letter!

      [tweet]: https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.dashkite.com%2Fproducts&text=I'm%20spreading%20the%20word%20about%20DashKite's%20innovative%20products
      [facebook]: https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.dashkite.com%2Fproducts
