@import "styles"

html, body
  reset block

html
  font-size (6 + 2/3)px

body
  type body

  height 100vh

  row wrap

  justify-content center

  background white

  padding 4rem

  & > .logo
    align-self flex-start
    object-fit contain
    width 20rem
    margin-right 3rem
