@import "styles"

html, body
  reset block

html
  font-size (6 + 2/3)px

body
  type body

  height 100vh

  row wrap

  justify-content center
  align-content flex-start
  align-items flex-start

  background white

  padding 4rem

  & > .logo
    object-fit contain
    width 20rem
    margin-right 3rem
    margin-bottom 3rem

  & > .page
    flex 1
    max-width 96rem
    min-width 36rem

    &:not(.active)
      display none
