doctype html

html(lang='en')
  
  head
    
    block head

      title DashKite

      // Meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      // Shortcut Icon
      link(rel='shortcut icon', href='/favicon.ico')

  body
    
    header
      block header

    main
      block main

    footer
      block footer
