extends -layout
include -icon

block append head

  style
    include:stylus -index.styl
    
  script(src = "/index.js")

block append header
  
  img.logo(src = "/media/logo.png")
    
block append main

  .page(name = "home")
  .page(name = "view article")
  .page(name = "view post")

block append footer
  
  nav
    a(href="/") 
      +icon("home", "solid")  
      span Home

    a(href="/blog") 
      +icon("blog", "solid")  
      span Blog

    a(href="/donate") 
      +icon("heart", "solid")  
      span Donate
