.product-link
  p
    color var(--link-color)
  &:hover
    p::after
      content "\00a0 \2192"

    span 
      color var(--neutral-foreground)

  span 
    color var(--neutral-accent)

html
  @media screen and (max-width: 960px)
    --header-border-bottom 1px solid var(--primary-accent)

.header.app
  --header-nav-column-gap 3rem
  @media screen and (max-width: 960px)
    --header-nav-column-gap 3ch