extends -layout.pug


block main
  header
    h1 The Web Is A Wonder

  article.intro
    h2 And we work every day to make it more wondrous.
    p At DashKite, we combine our expertise in software and distributed design with the most advanced Web technologies to build great things.
    p We build stuff that's human-focused, blazing fast, and ready to scale.

  article
    h2 Updates
    :markdown
      - Coming soon: Hype vanity page builder.
      - Read [the fine print](/legal-information).
