extend templates/simple

block append head
  +title( "DashKite" )
  +description( "Innovative software products for the rest of us" )
  +url( "https://dashkite.com" )
  +image( "/media/images/logo.svg" )

block main
  h1 Coming Soon ...

block footer
  .copyright
    p &copy; DashKite, Inc. 2018-2024 
    p All right reserved worldwide