extends -layout.pug


block main
  header
    h1 Open Source

  article
    include:markdown content/open-source.md

  article
    include:markdown content/cryptography.md

  article
    include:markdown content/infrastructure.md

  article
    include:markdown content/elemental.md
