extends -layout.pug


block main
  .page
    .view
      h1 Open Source

      article
        include:markdown open-source.md

      article
        include:markdown cryptography.md

      article
        include:markdown infrastructure.md

      article
        include:markdown elemental.md
