extends -layout.pug

append head
  style
    :stylus
      h3#hype, h3#hype + p
        display inline-block
        vertical-align middle
      h3#hype + p
        // make the top margin match the h2 + h3 margin
        margin-top 4rem
        margin-left 2rem
      h3#hype + p > img
        width 12rem


block main

  header
    h1 Our Products

  article
    include:markdown content/products.md
