extends -layout.pug

block main

  header
    h1 Products

  article
    :markdown
      We're building a variety of apps to empower people to take advantage of
      the power of the Web safely and securely.

  article
    include:markdown content/beta.md

  article
    include:markdown content/alpha.md
