style
  include:stylus styles.styl

section
  include:markdown introduction.md

section
  header
    h2 The Problem
  include:markdown problem.md

section
  header
    h2 The Solution
  aside
    h3 Sustainability
    :markdown
      A [sustainable Web][su] is safe, healthy, inclusive, and humane, with each of
      these interlocking objectives reinforcing the others

      [su]: /mission/sustainability	"A Sustainable Web"

  include:markdown solution.md

section
  header
    h2 Our Role
  include:markdown role.md
