// TODO replace media queries with a quark preset
//      that is more dynamic, possibly using grids
//      for article layout

h2
  overflow auto

section
  margin-bottom 2rem

aside
  float: right
  max-width min(33vw, 15rem)
  border 1px solid
  border-radius 0.5rem
  margin-top 0
  margin-left 1.5rem
  margin-bottom 0.75rem
  margin-right 0.25rem
  padding 1rem

  h3
    line-height 1.5rem !important
    font-size 1rem !important
    margin-bottom 0.25rem !important
  p
    line-height 1.25rem !important
    font-size 0.9rem !important

  @media screen and (max-width: 767px)
    max-width 100%
    margin-left 0
    margin-bottom 1rem
