style
  include:stylus ../styles.styl

.logo
  img(src = "/media/images/swag-logo.png" title = "Swag Logo")


:markdown

  Swag is a simple storefront that's easy to set up and loads quickly. Make it easy for your biggest fans to support you!

  **Coming soon!**

  ## Features

  ## About Byline

  Byline is produced by [DashKite][dk], a Web and mobile software company devoted to helping you take back your Web.

  The only data Kiki collects about you is, optionally, an email address for authentication. This data is never shared with anyone.

  All our applications share our [Privacy Policy][pr], [Terms Of Use][te], and [other fine print][le].

  [dk]: /
  [pr]: /legal/privacy-policy
  [te]: /legal/terms-of-use
  [le]: /legal
