extends /templates/head

append head
  style
    :stylus
      h3
        display flex
        align-items center
        & > img
          // h3 line-height is 4rem
          height 6rem
          margin-right 1rem
